<hr />
<input type="button" id="clickModal" value="NOVO VEICULO" class="btn btn-primary" />
<div class="bs-example" data-example-id="thumbnails-with-custom-content">
    <div class="row" id="contentTemplate">
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Api/index.js"></script>
}